<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loctrack">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <service
            android:name=".LocationServiceV2"
            android:foregroundServiceType="location"
            android:exported="false"/>
    </application>

</manifest>
